In [5]:
import pandas as pd
import numpy
import random

In [6]:
actual_data=pd.read_csv('rough_data.csv')
actual_data.head(5)

,Category name,total questions,correct questions,correctness,Performance,Job Profile Name,User name
0,Analytical Skills,5,2,40.00,Below Average,Data Analyst,john
1,Programming Skills,8,7,87.50,Very Good,Data Analyst,john
2,Statistical Knowledge,4,1,25.00,Very Poor,Data Analyst,john
3,Data Visualization,6,4,66.66,Above Average,Data Analyst,john
4,Database Knowledge,7,3,42.85,Below Average,Data Analyst,john

In [106]:
desired_rows = 2000
rows = []
expanded_df = pd.DataFrame(columns=actual_data.columns)
for _ in range(desired_rows):
    row = {
        'Category name': random.choice(actual_data['Category name']),
        'total questions': random.randint(1, 10),
        'correct questions': random.randint(0, 10),
        'Performance': None,
        'Job Profile Name': random.choice(actual_data['Job Profile Name']),
        'User name': random.choice(actual_data['User name'])
    }
    row['correctness'] = round(((row['correct questions'] / row['total questions']) * 100 ),2)
    if 0 <= row['correctness'] < 10:
        row['Performance'] = 'Needs Improvement'
    elif 10 <= row['correctness'] < 20:
        row['Performance'] = 'Extremely Poor'
    elif 20 <= row['correctness'] < 30:
        row['Performance'] = 'Very Poor'
    elif 30 <= row['correctness'] < 40:
        row['Performance'] = 'Poor'
    elif 40 <= row['correctness'] < 50:
        row['Performance'] = 'Below Average'
    elif 50 <= row['correctness'] < 60:
        row['Performance'] = 'Average'
    elif 60 <= row['correctness'] < 70:
        row['Performance'] = 'Above Average'
    elif 70 <= row['correctness'] < 80:
        row['Performance'] = 'Good'
    elif 80 <= row['correctness'] < 90:
        row['Performance'] = 'Very Good'
    elif 90<=row['correctness']<=100:
        row['Performance'] = 'Excellent'
    else:
        row['Performance']="can't predict"
    rows.append(row)
expanded_df = pd.DataFrame(rows)
expanded_df.to_csv('expanded_dataset.csv', index=False)

In [107]:
data=pd.read_csv('expanded_dataset.csv')

In [108]:
filter=data['correctness']>100
data[filter]['correctness'].shape

(796,)